body {
  margin: 0;
  font-family: Tahoma;
}

media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0;
}

.button {
  color: #121;
  background: #DEE;
  border-radius: 0.4rem;
  border:1px solid #CDD;
  padding: 0.4rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
}

.button:hover {
  background: #BCE;
}

.lobby-log {
  max-height:20rem;
  height: 20rem;
  border:1px solid #CCC;
  border-radius:1rem;
  padding:0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.lobby-msgbox {
  width: 30rem;
  border-radius: 0.5rem;
  border: 1px solid #CCC;
}

.lobby-players-list {
  max-height: 20rem;
  overflow-y: scroll;
  width:20rem;
  border:1px solid #CCC;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
