body {
  margin: 0;
  font-family: Tahoma;
}

media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0;
}

.button {
  color: #121;
  background: #DEE;
  border-radius: 0.4rem;
  border:1px solid #CDD;
  padding: 0.4rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button:hover {
  background: #BCE;
}


.lobby {
}
